
# Ignore all .txt files
*.txt

# Ignore all .csv files
*.csv

# Ignore all trace files
*.json

# Ignore the lichtenberg folder itself
!lichtenberg

# Ignore all files in the lichtenberg folder
lichtenberg/*

# Ignore the docs folder itself
!docs

# Ignore all files in the docs folder
docs/*

# Ignore pycache
!__pycache__
__pycache__/*

# Ignore venv
.venv
venv
venv/
.venv/
